<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>home</key>
	<array>
		<dict>
			<key>title</key>
			<string>Add Event</string>
			<key>image</key>
			<string>icn_photo</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Add Photo</string>
			<key>image</key>
			<string>icn_event</string>
		</dict>
	</array>
	<key>userhome</key>
	<array>
		<dict>
			<key>title</key>
			<string>Download</string>
			<key>image</key>
			<string>icn_download</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Save To My Timeline</string>
			<key>image</key>
			<string>icn_save</string>
		</dict>
	</array>
</dict>
</plist>
